PORT=5000
DB_USER=postgres
DB_HOST=localhost
DB_NAME=productivity
DB_PASSWORD=1234
DB_PORT=5432
JWT_SECRET=super-secret-key
CORS_ORIGINS=http://localhost:5173,http://localhost:19006
CLIENT_URL=http://localhost:5173
EMAIL_USER=
EMAIL_PASS=
